<mat-card class="test-header">
    <mat-radio-group class="test-radio-group" [(ngModel)]="current" (ngModelChange)='select($event)'>
        <mat-radio-button class="test-radio-button" *ngFor="let d of list" [value]="d">
            {{d.name}}
        </mat-radio-button>
    </mat-radio-group>
</mat-card>
<mat-card class="test-body">
    <h4>Сценарий: {{current.name | lowercase}}, элементов {{current?.count}}</h4>
    <div *ngFor="let item of current.items">
        <h5 class="item-name">{{item.name}}</h5>
        <div class="item-body">
            <mat-slider class="slider-input" 
                min="0" max="100" step='0.01' [disabled]='item.lock'
                [ngModel]="item.percent" (input)='slider_change($event.value, item)'
                (change)='fix_debounce(item)'></mat-slider>
            <a class="lock-input" (click)="item.lock = !item.lock">
                <i class="material-icons">{{item.lock ? 'lock' : 'lock_open'}}</i>
            </a>
            <mat-form-field class="number-input">
                <input matInput type="number" 
                    step='0.01' min='0' max='100' placeholder="Процент" 
                    [ngModel]="item.percent | number:'1.2-2'"
                    (ngModelChange)='change_debounce($event, item)'
                    [disabled]='item.lock'></mat-form-field>
            <mat-form-field class="number-input">
                <input matInput type="number" 
                    step='1' min='0' [max]='current.count' 
                    placeholder="Количество" [ngModel]="item.count"
                    (ngModelChange)='change_debounce($event, item, true)'
                    [disabled]='item.lock'>
            </mat-form-field>
        </div>
    </div>
</mat-card>
<mat-card class="test-footer">
    <div *ngFor="let item of current.items; let i = index">
        <h5>[{{i}}] - {{item.name}}, элементов: {{item.count}} = {{item.percent/100 | percent:'1.2-2'}}</h5>
    </div>
</mat-card>