.test-header, .test-body{
    margin-bottom: 10px;
}
.test-radio-group {
    display: flex;
}
.test-radio-button {
    margin: 5px;
}
.item-name{
    margin: 0px;
}
.item-body{
    margin-top: -15px;
    display: flex;
}
.slider-input{
    margin: auto;
    width: 100%;
}
.number-input{
    width: 100px;
    margin: -15px 10px 10px 10px;
}
.lock-input{
    cursor: pointer;
}